*.png
*.svg
docs/MaxCombinat.4ct
docs/MaxCombinat.4tc
docs/MaxCombinat.auxlock
docs/MaxCombinat.css
docs/MaxCombinat.html
docs/MaxCombinat.idv
docs/MaxCombinat.lg
docs/MaxCombinat.out
docs/MaxCombinat.tmp
docs/MaxCombinat.xref
docs/auto/
